.container26 {
  width: 100%;
  max-width: 420px;
  margin: auto;
  padding: 20px;
  padding-top: 20%;
  font-family: Arial, sans-serif;
  text-align: center;
  background: #fff;
}

/* ICON */
.iconBox26 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scannerFrame26 {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TEXT */
.title26 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #8bc34a;
}

.desc26 {
  font-size: 14px;
  color: #555;
  margin-bottom: 30px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
}

/* CARD */
.card26 {
  background: #f8f8f8;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.row26 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.label26 {
  color: #888;
  font-size: 14px;
}

.value26 {
  font-weight: 500;
  color: #333;
  font-size: 14px;
}

.line26 {
  margin: 15px 0;
  border: none;
  border-top: 1px solid #eee;
}

.totalRow26 {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}

.totalValue26 {
  color: #333;
}

/* WARNING */
.warningBox26 {
  margin-top: 15px;
  background: #fff9e6;
  border: 1px solid #ffeeba;
  padding: 15px;
  border-radius: 12px;
  font-size: 13px;
  color: #856404;
  display: flex;
  gap: 12px;
  text-align: left;
  line-height: 1.4;
}

.warningIcon26 {
  background: none;
  border: 2px solid #856404;
  color: #856404;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  flex-shrink: 0;
}

/* BUTTON */
.payBtn26 {
  margin-top: 30px;
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 35px;
  background: #8bc34a;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(139, 195, 74, 0.3);
}

.payBtn26:active {
  transform: scale(0.98);
}

/* SUPPORT */
.support26 {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}