body {
  margin: 0;
  font-family: Arial;
}

.container17 {
 max-width: 414px;
  margin: auto;
  padding: 2px 18px;
  padding-bottom: calc(2px + 88px + env(safe-area-inset-bottom, 0px));

  height: 110vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* smooth scroll on iOS */
}

/* top */
.top17 {
  display: flex;
  justify-content: space-between;
  color: #888;
}

.link17 {
  text-decoration: underline;
}

/* balance */
.balance17 {
  background: #1c1c1c;
  color: white;
  padding: 20px;
  border-radius: 20px;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
 
}
.your{
    font-weight: 200;
    font-size: 16px ;
}
.nu{
    padding-top: 10%;
}
.iconBox17 {
  background: #8bc34a;
  padding: 12px;
  border-radius: 12px;
}

/* cost */
.cost17 {
  background: #dddddd55;
  box-shadow: 7px 5px 10px #b6b6b663;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}
.select{
    padding: 5%;
}
/* cards */
.card17 {
  background: #dddddd55;
  box-shadow: 7px 5px 10px #b6b6b663;
  padding: 15px;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.left17 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img17 {
  width: 40px;
}

/* radio */
.radio17 {
  width: 18px;
  height: 18px;
  border: 2px solid black;
  border-radius: 50%;
}

.on17 {
  background: black;
}

/* Swipe "Add card" row */
.payment-swipe-row17 {
  width: 100%;
  max-width: 360px;
  margin: 15px auto;
}

