.container24 {
  max-width: 400px;
  margin: auto;
  font-family: Arial, sans-serif;
  padding: 20px;
  height: 120vh;
  overflow-y: scroll;
}

.profileCard24 {
  text-align: center;
  margin-bottom: 20px;
}

.profileImage24 {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  object-fit: cover;
}

.name24 {
  margin: 10px 0 5px;
}

.username24 {
  color: gray;
  margin-bottom: 10px;
}

.editBtn24 {
  background: #7bb241;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
}

.card24 {
  background: white;
  border: 2px solid #7bb241;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 15px;
}

.row24 {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.row24:last-child {
  border-bottom: none;
}

.spaceBetween24 {
  display: flex;
  justify-content: space-between;
}

.deleteCard24 {
  text-align: left;
}

.deleteText24 {
  color: red;
  font-weight: bold;
}