/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  max-width: 414px; 
  gap: 35%;
}
.left-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: 3%;
}
.name{
  font-weight: 300;
  font-size: 16px;
}
.mobilebattery{
    max-width: 414px;
    margin: 0 auto;

}