*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    overflow-x: hidden;

}
.app-container{
width: 100%;
max-width: 414px;
margin: 0 auto;
background-color: #ffffff;
height: 100vh;
overflow-y: auto;        /* 🚀 scroll only here */
}

body {
  margin: 0;
  font-family: Arial;
  background: #f3f3f3;
}